<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure:</strong>
    <%= flight.departure %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= flight.arrival %>
  </p>

  <p>
    <strong>Takeoff:</strong>
    <%= flight.takeoff %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

</div>
