<% content_for :title, "Flights" %>

<h1>Flights</h1>

<%= form_tag(flights_path, method: :get ) do %>
  Departure Airport
  <%= select_tag(:departure_id, options_for_select(@airport_options)) %>
  <br>
  Destination Airport
  <%= select_tag(:arrival_id, options_for_select(@airport_options)) %>
  <br>
  Passengers
  <%= select_tag(:passengers, options_for_select([1,2,3,4])) %>
  <br>
  Date
  <%= select_tag :takeoff, options_from_collection_for_select(Flight.get_flight_dates, 'takeoff', :flight_date_formatted) %>
  <br>
  <%= submit_tag ("Search") %>
<% end %>

<% @flights.each do |flight|%>
  <ul>
    <li><%= link_to flight.departure.name, flight_path(flight)%>
  </ul>

<% end %>
